# Logs
*.log
npm-debug.log*

# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Preferences
.env
package-lock.json
.vscode

# Folders
node_modules
config
database
.yarn
.github
PermissionManager.js
00_owner

# Misc
.DS_STORE
package.json
yarn.lock
FAQ.md
guildFetch.js
autoReport.js
transfer.js
test.js